
SECRET_KEY=yoursupersecretkey
SUPABASE_API=your-supabase-anon-key
RABBITMQ_URL=amqp://rabbitmq:5672
MQTT_HOST=mqtt
MQTT_URL=mqtt://mqtt:1883


VITE_SUPABASE_URL=https://your-project.supabase.co
VITE_SUPABASE_ANON_KEY=your-supabase-anon-key
VITE_CLERK_PUBLISHABLE_KEY=pk_test_...
